.ChallengeSet1{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tab{
    text-decoration: none;
}

.box1{
    height: 48vh;
    width: 100%;
    border-style: groove;
}

.box2{
    height: 39vh;
    width: 100%;
    border-style: groove;
}


/* SUM of heigh from box1 and box2 should be 87vh */