.blog_title{
    text-align:center;
    font-weight:bold;
    font-size:xx-large;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
	width: 800px;
	height: 50px;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.blog_body{
    text-align:center;
    font-size:x-large;
    color:rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
	width: 800px;
	height: 200px;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 200;
}

.login{
    text-align:center;
    background-color: rgb(71, 71, 71);
    border-radius: 30px;
	width: 800px;
	height: 600px;
	margin: auto;
	position: absolute;
	top: 120;
	left: 0;
	right: 0;
	bottom: 150;
}