@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.App{
    display: flex;
}

/* Header and nav */

.MuiAppBar-colorPrimary {
    background: #1176ae !important;
    box-shadow: none !important;
}
.topNav .navbar-toggler {

    border: none;
    padding: 2px 5px;
}
.navbar-light .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='18' height='12' viewBox='0 0 18 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 10h20M4 15h20M4 20h20'/%3e%3c/svg%3e") !important;   
    width: 27px;
}
.topNav .navbar-toggler:hover {
    background: transparent;
}
.topNav .navbar-light .navbar-nav .nav-link  {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: #fff;
    text-transform: uppercase;
}

.topNav:hover .navbar-light:hover .navbar-nav:hover .nav-link:hover{
    text-decoration: none;
    border: 1px solid;
}

.topNav {
    padding: 27px 0 30px;
}
.topNav button {
    color: #fff;
    padding: .5rem;
}
.topNav .navbar-light .navbar-nav .nav-link:hover, .topNav button:hover {
    background: transparent;
    text-decoration: underline;
}
/* Header and nav */

.mt-30 {
    margin-top: 30px;
}
.mainContent {
    display: flex;
}
.grayCol {
    padding: 37px 34px 37px 38px;
    background: #f5f1f2;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.mainContent .grayCol {
    padding-bottom: 13px;
}
.signinCol.grayCol {
    padding: 30px 40px;
    min-height: 100%;
    justify-content: center;
}
.signinCol.grayCol img{
    max-width: 200px;
    margin: 0 auto;
}
.signinCol.grayCol .butn {
    height: 50px;
    border-radius: 5px;
    width: 100%;
    border: none;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}
.signinCol.grayCol .butn img {
    margin-right: 10px;
}
.primaryBtn {
    background: #1176AE;
    color: #fff;
}
.secondaryBtn {
    color: #444;
    background: #DAD8D8;
}
.signinCol h2 {
    font-size: 28px;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0em;
    color: #1176AE;
    text-transform: uppercase;
    margin-bottom: 7px;
    text-align: center;
}
.signinCol h2 span{
    color: #444;
}


.mainContent h2 {
    font-size: 25px;
    font-weight: 500;
    line-height: 38px;
    color: #444444;
    margin-bottom: 8px;
}
.mainContent p {
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    color: #444444;
}
.actionLink {
    display: flex;
    list-style: none;
    margin: auto 0 3px 13px;
}
.actionLink .mr77 {
    margin-right: 77px;
}
.actionLink .nav-link {
    padding: 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    color: #1176AE;
    text-decoration: none;
    text-transform: uppercase;
}
.challenges h3 {
    font-size: 25px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0em;
    color: #444;
}

.challengesCol {
    background: #1176ae;
    padding-top: 40px;
    padding-bottom: 40px;
}
.challengesCol .wrapper {
    padding-right: 15px;
    padding-left: 15px;
}
.challengesCol .card {
    padding: 20px;
    background: #fff;
    margin: 26px 0;
    border: none;
    border-radius: 0;
}
.challengesCol .card .card-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    color: #444;
    margin: 15px 0;
}
.challengesCol .card .card-text{
    color: #1176ae;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 500;}
.cardAction {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cardAction .btn-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    color: #1176AE;
    padding: 0;
}
.bubbleBtn {
    border: none;
    background: transparent;
    margin-left: 10px;
    cursor: pointer;
    padding: 0;
}
.bubbleBtn:hover {
    opacity: 0.9;
}
.challengesWrap h3 {
    font-size: 25px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0em;
    margin: 53px 0 10px;
    color: #444;
}
/* footer */

.footer {
    background: #fff;
    padding: 28px 0;
}
.footerNav {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.footerNav .nav-item {
    margin: 0 31px 0 30px;
}
.footerNav .nav-link {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: #444;
    text-transform: uppercase;
    padding: 0;
}
.footer p, .footer .footerSubNav .nav-link {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #444444;
    margin: 0;
    padding: 0;
}
.footerSubNav {
    display: flex;
    justify-content: flex-end;
    margin: 0;
}
.ml-6 {
    margin-left: 20px;
}
.socialNav .nav-link {
    margin: 0 12px;
    padding: 0;
}
@media all and (max-width:2500px) and (min-width:1700px) {
    .container {
        max-width: 1593px;
    }
}
@media all and (max-width:1190px) and (min-width:991px) {
    .topNav button, .topNav .navbar-light .navbar-nav .nav-link {
        font-size: 13px;
    }
    .topNav .navbar-light .navbar-nav .nav-link{
        font-size: 12px;
    }
}
@media all and (max-width:1199px) {
    .topNav .navbar-light .navbar-nav .nav-link{padding: .5rem;font-size: 13px;}
    .grayCol, .signinCol.grayCol {
        padding: 20px;
    }
    .challengesCol {
        padding: 30px 0;
    }
    .challengesCol .card {
        margin: 0 0 30px;
    }
    .signinCol h2, .mainContent h2 {
        font-size: 22px;
    }
    .actionLink .mr77 {
        margin-right: 18px;
    }
    .actionLink {
        margin: auto 0 0;
    }
    .cardAction a, .actionLink .nav-link {
        font-size: 18px;
    }
    .challengesWrap h3 {
        margin: 25px 0 15px;
        font-size: 20px;
    }
    .challengesCol .card {
        padding: 15px;
    }
    .challengesCol .card p {
        font-size: 14px;
    }
    .grayCol, .signinCol.grayCol {
        height: 100%;
    }
}
@media all and (max-width:1040px) {
    .navbar-light .navbar-brand img {
        max-width: 280px;
    }
}
@media all and (max-width:991px) {
    .ml-auto.navbar-nav .nav-link {
        border-bottom: 1px solid #fff;
    }
    .ml-auto.navbar-nav .nav-link:first-child {
        border-top: 1px solid #fff;
    }
    .topNav {
        padding: 10px 0;
    }

    .footer .row {
        flex-direction: column;
    }
    .footerSubNav {
        justify-content: center;
    }
    .socialNav {
        margin: 0 0 15px;
    }
    .footer .container .socialNav .nav-link {
        margin: 0 5px;
    }
    .footer p {
        text-align: center;
        margin: 10px 0;
    }
    .mt-30 {
        margin-top: 10px;
    }
    .challengesCol .card .bubbleBtn img {
        max-width: 30px;
    }
}
@media all and (max-width:805px) {
    .challengesCol .card .card-text{
        font-size: 15px;
        margin: 10px 0 0;
    }
    .challengesCol.selection .col-md-6{
        max-width: 100%;
    }
    .challengesCol.selection .col-md-6 .card{margin-bottom: 15px;}
}
@media all and (max-width:767px) {
    .signinCol h2, .mainContent h2, .challengesWrap h3{
        font-size: 18px;
    }
    .cardAction a, .actionLink .nav-link,
    .mainContent p{
        font-size: 15px;
    }
    .mainContent p{
        line-height: 27px;
    }
    .signinCol h2,
    .mainContent h2{
        line-height: 25px;
    }
    .footerNav .nav-link{
        font-size: 13px;
    }
    .challengesCol .card{
        padding: 10px;
    }
    .signinCol.grayCol .butn,
    .inputControl input{
        height: 40px;
        padding: 8px;
        font-size: 15px;
    }
    .navbar-light .navbar-brand img {
        max-width: 200px;
    }
    .mainContent {
        margin-bottom: 16px;
    }
    .footer {
        padding: 15px 0;
    }
    .footerNav {
        margin-bottom: 5px;
    }
    .footerNav .nav-item {
        margin: 0 4px;
    }
    .footerNav .nav-link {
        font-weight: 500;
    }
    .ml-6 {
        margin-left: 5px;
    }
}
.mt-110{
    padding-top: 97px;
}
.makeStyles-appBar-10{
    width: 100%;margin-left: 0;
    z-index: 9999;
}
header.MuiAppBar-positionFixed{
    z-index: 9999 !important;
}
.MuiPaper-elevation16,
.MuiDrawer-paperAnchorDockedLeft{
    background: #06547f !important;
}
.MuiPaper-elevation16 *,
.MuiDrawer-paperAnchorDockedLeft *{
    color: #fff;
}
.paddingtop{
    padding-top: 100px;
}
header .MuiToolbar-regular{
    padding: 0 !important;
}
header .makeStyles-menuButton-10{
    
    margin: 5px 0 auto 0 !important;
}
header .MuiToolbar-root{
    align-items: flex-start;
}
.loginUserWrap Avatar{cursor: pointer;}
.loginUserWrap span{display: none;}
.avatarBox{margin-left: 15px;cursor: pointer;}
@media screen and (max-width:991px){
    .loginUserWrap {display: flex;align-items: center;justify-content: space-between;}
    .loginUserWrap span{display: block;}
    .MuiAvatar-circular{order: -1;}
    .avatarBox{
        margin: 10px 0 0;
        height: 30px !important;
        width: 30px !important;
    }
    .loginUserWrap span{
        margin: 10px 0 0;
        cursor: pointer;
    }
    .loginUserWrap span.ml-0-m{margin:10px auto 0 10px;}
}
@media screen and (max-width:599px){
    .paddingtop{
        padding-top: 52px;
    }
    
}


.inputFlag{
    background: #FFF;
    outline: none;
    border-radius: 10px 0 0 10px;
    -webkit-transition: all 1s ease;  
    -moz-transition: all 1s ease;  
    -o-transition: all 1s ease;  
    -ms-transition: all 1s ease;  
    transition: all 1s ease;

}

.inputFlag-disable{
    width: 0px;
    visibility: hidden;
    padding: 0px;
    border: 0px solid;;
}

.inputFlag-enable{
    border: 2px solid;
    padding-left: 10px;
    width: 200px;
    visibility: visible;
}