.ChallengeSet1{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 50%;
}

.ChallengeAppBar{
    position: absolute;
}

.terminalBox{
    right: 0px;
    width: calc(100% - 50%);
    height: calc(100% - 27px - 10px);
    position: absolute;
    font-size: medium;
}

.ChallengePageContainter{
    width: calc(100% - 280px);
    height: calc(100% - 27px - 30px);
    position: fixed;
    display: flex;
    flex-direction: row;
}

.tab{
    text-decoration: none;
}

.box1{
    overflow-y: scroll;
    position: absolute;
    margin-top: 50px;
    padding-left: 5px;
    height: calc(100% - 27px - 30px - 32px);
    width: 100%;
    border-style: groove;
}