.left-column {
    grid-column: 1;
    height: 88.5vh;
}

.right-column {
    grid-column: 2;
    height: 88.5vh;
    min-width: 50%;
}

.box1 {
    height: 88.5vh;
    border-style: solid;
    border-color: lightgrey;
    border-width: 4px;
}
