.mainCover{ 
    display: flex;
    flex-direction: row;
    position: fixed;
    height: calc(100% - 104px);
    left: 0;
    padding-left: 290px;
    top:104px
}
.challengeWrap{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.tab{
    text-decoration: none;
}

.box1{
    height: 85vh;
    border-style: groove;
    padding: 10px;
}
@media all and (max-width:1361px) {
    .mainCover{
        overflow: auto;
    }
}
@media all and (max-width:1201px) {
    .mainCover{
        flex-direction: column;
        height: auto;
    }
    
    .box1{
        height: 50vh;
    }
}