/*this class is not being used for now*/
.Home{
    display: flex;
    /* display item in middle in term of row */
    justify-content: center;
    /* display item in middle in term of column  */
    /* for align item to for, must include heigh on the container */
    align-items: center;
    height: 89vh;
}

.homePageContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}


.challengeTitle{
    font-size: 40px;
}
