.Home{
    /* display: flex; */
    /* display item in middle in term of row */
    /* justify-content: center; */
    /* display item in middle in term of column  */
    /* for align item to for, must include heigh on the container */
    /* align-items: center; */
    min-height: 89vh;
}
.challengesCol.cHomeCol .nav-link{
    padding: 0;
}
.challengesCol.cHomeCol .card{
    margin: 15px 0;
}
.challengesCol.cHomeCol{
    padding:  0px;
}
.challengesCol.cHomeCol .card .card-text{
    font-size: 16px;
}
h2{
    color:#444;
    font-size: 24px;
    margin-bottom: 10px;
}
h3{
    font-size: 20px;
    color:#444;
    margin: 15px 0 8px;
}
p{
    color:#444;
    line-height: 24px;
}
hr{
    width: 100%;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #fff;
}
.challengesCol.cHomeCol .card .card-text{
    margin-bottom: 0;
}


@media all and (max-width:1380px) {
    .challengesCol.cHomeCol .card .card-text{
        font-size: 14px;
    }
}
@media all and (max-width:1380px) {
    .flexWrap.flex-nowrap{
        flex-wrap: wrap !important;
    }
}