.leaderboard{
    display: flex;
    /* display item in middle in term of row */
    justify-content: center;
    /* display item in middle in term of column  */
    /* for align item to for, must include heigh on the container */
    align-items: center;
    height: 90vh;
}

.rankColumn{
    width: 25%;
}

.userColumn{
    width: 50%;
}

.scoreColumn{
    width: 25%;
}

.rankAndScore{
    padding-left: 50px;
}