.toastContainer{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.toast-body{
    color:black;
    background-color: white;
}
.text-primary {
    color: black !important;
}
