.toastContainer{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999991;
}

.toast-body{
    color:black;
    background-color: white;
}
.text-primary {
    color: black !important;
}
#overlay{
    display: none !important;
}
.overlayFull{
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}